<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%-5level|%logger{2}|%msg%n" />
		</Console>
		<Kafka name="Kafka" topic="log">
			<PatternLayout
				pattern="%-5level|%logger{2}|%msg%n" />
			<Property name="bootstrap.servers">127.0.0.1:9092</Property>
		</Kafka>
		<File name="EnowFile" fileName="logs/enow.log">
			<PatternLayout pattern = "%-5level|%logger{2}|%msg%n"/>
		</File>
	</Appenders>
	<Loggers>
		<Logger name="com.enow.storm" level="info" additivity="false">
			<Appender-Ref ref="STDOUT" />
			<Appender-Ref ref="Kafka" />
			<Appender-Ref ref="EnowFile" />
		</Logger>
		<Root level="error">
			<Appender-Ref ref="STDOUT" />
			<Appender-Ref ref="Kafka" />
			<Appender-Ref ref="EnowFile" />
		</Root>
	</Loggers>
</Configuration>
