<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="file" fileName="/Users/leegunjoon/Desktop/abc.log">
			<PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Logger name="com.enow.storm" level="trace" additivity="false">
			<AppenderRef ref="STDOUT" />
			<Appender-Ref ref="file" />
		</Logger>
		<Root level="error">
			<Appender-Ref ref="STDOUT" />
			<Appender-Ref ref="file" />
		</Root>
	</Loggers>
</Configuration>